html{
	
	box-sizing: border-box;
	font-size: 68%;
	margin: 0;
	padding: 0;
}
body{
	
margin: 0;
padding: 0;
	
}
#Wrap{
	dispalay:flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0;
	width:90%;
	background-color: rgb(0, 34, 47);
	min-height: 100vh;
}
ul{
	
	list-style: none;
	text-decoration: none;
	/* display: none; */
}	
#Main-nav {
	
	margin-top: 2rem;
}ul{
	
	/* margin: 2rem 0 0 0; */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	ul li{
		
		flex-grow: 1;
	}
	a{
		font-size: 2rem;
		color: white;
		text-decoration: none;
	}
}